/* Invitation Default */

.view_form .fb_login_box > .fb_border{
	margin: 20px 0;
}

.table td.source_icon{
	vertical-align: middle;
}

.source_icon i{
	font-size: 30px;
}

.facebook_official i{
	color:#3b5998;
}

.table a.btn {
	padding: 4px 7px;
}

img.listing_image {
	height: 35px;
	width: 36px; 
}

.fb_img img{
	border:1px solid #ccc;
	width:160px;
	height: 160px;
	margin:10px 0;
}

.helptext{
	background: #000 none repeat scroll 0 0;
	color: #fff;
	margin: 4px;
	padding: 0 5px;
}

.agree-check {
	padding-left: 35px;
}

span#agree-error {
	position: absolute;
	top: 15px;
	left: -20px;
}

textarea{ 
	max-width: 100%; 
}

input.other-box {
	display: none;
	border: 1px solid #ccc;
	opacity: 1;
	z-index: 1;
	margin-top: 10px;
	width: 200px;
	height: 25px;
	top: -10px;
	left: 75px;
}

input.other-box-radio {
	display: none;
	border: 1px solid #ccc;
	opacity: 1;
	z-index: 1;
	margin-top: 10px;
	width: 200px;
	height: 25px;
	top: -10px;
	left: 75px;
}

iframe{
	border-radius: 5px !important;
}

.google, .google>.portlet-title,.google .btn-primary {
	background-color: #ff0000 !important;
	border-color: #ff0000 !important;
}

.youtube_official{
	color: #ff0000 !important;
}

.view_form .flag_row .flag img{
	max-width:50px;
}

.view_form .flag_row .flag.active img{
	max-width:125px;
}

.advertising_row iframe{
	border:none;
}

.view_form_page .container{
	max-width: 1440px;
}

.view_form .social_row .text p{
	padding: 0;
	margin: 10px 0;
	font-size: 20px;
	text-transform: uppercase;
}

.view_form .fb_login_box p.heading{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
	border-radius: 5px 5px 0 0 !important;
}

.fb_public .next_btn, .fb_public .back_btn{
	border-radius: 5px !important;
}

.view_form .social_row .fb{
	text-align: right;
	border-right:none;
}

.view_form .social_row .fb a{
	display:block;
	text-align:right;
	width:100%;
}

.view_form .social_row .you_tube{
	text-align: left;
	min-height: 70px;
	display: flex;
	align-items: center;
}

.view_form .social_row .you_tube, .view_form .social_row .fb{
	min-height: 100px;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.view_form .social_row img {
	max-width: 180px;
}

.view_form .social_row .you_tube img {
	max-width: 165px;
}

.choose_one p{
	margin:20px 0 2px;
	font-weight:600
}

.fb_border{
	border-radius: 10px !important;
}

.view_form .fb_login_box.youtube_sucess.facebook_sucess p.heading{
	border-radius: 10px 10px 0px 0px !important;
}

.view_form .fb_login_box.youtube_login_box p.heading{
	border-radius: 10px 10px 0px 0px !important;
}

.facebook #get_values{
	border-radius: 5px !important;
}

.untill_now a{
	border-radius: 5px !important;
}

.youtube #get_values_gmail{
	border-radius: 5px !important;
}

.view_form .table_row > .col-sm-12{
	border-radius: 5px !important;
}

.btn.register.next_btn, .button_row .next_btn, .youtube_login_box .btn.logout.next_btn{
	border-radius: 5px !important;
}

#socialnetworkList{
	margin-bottom: 3rem;
}

.fb_public .fb_border {
	padding:0
}

.fb_public .fb_border>.col-sm-12{
	padding:0;
}

.fb_public .heading span{
	color:#f19300
}

.fb_public .next_btn{
	color: #000000;
	padding: 6px 32px;
	font-size: 16px;
	float: right;
	margin: 15px 20px 15px 0;
	background:#f0ff00;
	text-transform:uppercase;
	font-family: "Open Sans",sans-serif;
}

.fb_public .next_btn:hover{
	background:#f0ff00;
}

.fb_public .back_btn{
	color: #000000;
	padding: 6px 32px;
	font-size: 16px;
	float: right;
	margin: 15px 20px 15px 0;
	background:#ffa200;
	text-transform:uppercase;
	font-family: "Open Sans",sans-serif;
}

.fb_public .back_btn:hover{
	background:#ffa200;
}

.fb_public img{
	max-width:100%
}

.youtube_official{
	color: #ff0000 !important;
}

#stream_description-error, #stream_title-error{
	color: red;
}

#bottom-help-img{
	z-index: 2147483646;
	width: 60px;
	height: 60px;
	font-size: 18px;
	font-weight: 400;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
	position: fixed;
	right: 10px;
	bottom: 10px;
	
}

.col-form-comming-users{
	padding: 0 30%;
	text-align: left;
}

/** STYLE NEW INVITATION */


/** CSS  */

body, .page-content .view_form_page{
	font-family: 'Roboto', sans-serif;
	background-image: url("../img/background_default.jpg");
	background-attachment: fixed !important;
	background-size: cover !important;
	background-position: top !important;
	background-repeat: no-repeat !important;
	position: relative;
}

body{
	position: initial;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
}


.flag:hover {
	text-decoration: none;
}

.img-zoom{
	transition: 0.5s transform ease;
}

.img-zoom:hover{
	transform: scale(1.1);
}

.btn-multiplier{
	color: black;
	border: 1px #00000036 solid;
	border-radius: 5px !important;
	padding: 5px 20px;
	transition: 0.3s ease background;
	cursor: pointer;
	margin: 0 10px;
}

.btn-multiplier:hover{
	background: #fcc946 !important;
	color: white;
}

.btn-green{
	color: white;
	background: #5daaa7 !important;
}

/** Css Header */

#header_row{
	position: relative;
}

#header_logo_wrapper img{
	width: 50%;
}

#flag_wrapper{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%)
}

.view_form .flag_row{
	text-align: end;
	margin-right: 20px;
}

.view_form .flag_row .flag{
	text-decoration: none;
}

.view_form .flag_row .flag img{
	height: 40px;
	width: 45px;
	border-radius: 20px !important;
	margin: 0 10px;
}

.flag.active img{
	border: 2px solid #00ef00;
}

/** Css Details Text */

.row.detail_text{
	position: relative;
	background: none !important;
	margin-bottom: 10%;
	margin-top: 10%;
}

#convite_text_wrapper{
	max-width: 100%;
	background: white;
	border-radius: 20px !important;
	padding: 30px;
	float: right;
	box-shadow: 0px 0px 15px black;
}

#invitation_headline_wrapper{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

#invitation_headline{
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 5px #000;
}

#invitation_headline > p{
	font-size: 1.5em !important;
	text-align: left;
	line-height: 1.2;
	margin-left: 50px;
}

/** Css Social Row */

#content_wrapper{
	z-index: 10;
}

.view_form .social_row{
	border: none;
	background: white;
	border-radius: 20px !important;
	padding: 30px;
	margin-bottom: 10%;
	clear: both;
	box-shadow: 0px 0px 15px black;
}

#social_image{
	margin-left: -30px;
	max-width: 250px;
}

#col_social_text{
	padding: 0;
}

.col-form-comming-users{
	padding: 0;
}

.social_row > div{
	padding: 0 30px;
}

.choose_one p{
	text-align: center;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

.logo_row hr{
	margin: 0 0 25px 0;
}

#share_text{
	float: left;
	margin-left: 60px;
}

#countryflag{
	padding-top: 0px;
	border: 1px solid #00000036;
}

.button-preview-copy{
	float: right;
	margin-right: 85px;
}

.you_tube{
	padding-left: 20px;
}

.view_form .social_row .fb_border img{
	max-width: 100%;
}

/** Css Footer */

.view_form{
	padding: 0;
}

#footer_card{
	border: none;
	background: white;
	border-radius: 20px 20px 0 0 !important;
	padding: 30px;
	margin-top: 3rem;
	box-shadow: 0px 0px 15px black;
}

#footer_wrapper > .col-md-6 > p {
	margin: 10px 0 30px 0;
}

#footer_logo{
	width: 60%;
}

.footer-tag-img{
	width: 30%;
	vertical-align: middle;
	padding: 0 2%;
}

.footer-tag-img{
	text-decoration: none;
}

#footer_wrapper{
	position: relative; 
}

#footer_login_wrapper{
	display: none;
	text-align: end;
	margin-top: 45px;
}

#footer_login_wrapper a:hover{
	color: white;
}

#footer_login_wrapper .btn{
	margin: 0 20px;
}

.knowMore_row{
	margin: 0px 0 10px 0;
}

#app_stores_wrapper{
	margin-bottom: 25px;
}

#app_stores{
	display: inline-block;
	width: 50%;
}

#text_rights{
	margin:0;
}

.knowMore_row a{
	color: black;
}

.knowMore_row a:hover{
	color: #5daaa7
}

#icons{
	text-align: end;
	margin-top: 20px;
}

#icons a{
	color: black;
	text-decoration: none;
}

#icons i{
	transition: 0.5s ease color;
	color: black;
	padding: 0 10px;
	font-size: 1.7em;
}

#icons i:hover{
	color: #5daaa7;
}

/** NEW MAIN TEXT STYLE */


/** MAIN STYLE */

.add-new{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.add-new .icon-wrapper{
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	transition: scale ease 0.5s;
}

.add-new .icon-wrapper .add-icon{
	color: #5daaa7;
	font-size: 3em;
	cursor: pointer;
}

.add-new .add-icon:hover{
	transform: scale(1.15);
	color: #fcc946;
}

.add-new .add-new-divider{
	flex: auto;
	position: relative;
	margin: 0px 25px;
}

/** COLUMN FUNCTION STYLE */

.content-column .column-functions-wrapper{
	position: absolute;
	top: 0;
	right: 50%;
	transform: translate(50%, 0);
	background-color: #5daaa7;
	width: 100px;
	height: 25px;
	z-index: 1;
	transition: opacity ease 0.3s;
}

.content-column .column-functions-wrapper.hide{
	opacity: 0;
	display: block !important;
}

.content-column .column-functions-wrapper .column-function-icon{
	color: white;
	font-size: 17px;
	margin: 5px 5px;
}

.content-column .column-functions-wrapper .column-function-icon:hover{
	color: #fcc946;
	transform: scale(1.5);
	cursor: pointer;
}

/** NEW COLUMN STYLE */

.add-new-column .add-icon{
	transform: rotate(90deg);
}

.add-new-column .add-icon:hover{
	transform: scale(1.15) rotate(90deg);
	color: #fcc946;
}

/** NEW CONTENT STYLE */

.new-content-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.new-content-container .content-column, .add-new-column{
	width: 100%;
	height: 230px;
	border-radius: 5px !important;
	margin: 10px 1px;
	overflow: hidden;
	min-height: 40px;
}

.new-content-container .content-column .add-new-content-wrapper{
	height: 100%;
}

.new-content-container .content-column .text-content{
	margin: 10px;
	text-align: left;
	word-break: break-word;
}

.new-content-container .content-column .midia-content{
	margin: 10px;
	max-height: 100%;
	max-width: 100%;
}

.new-content-container .content-column .midia-content video{
	max-height: 100%;
	max-width: 100%;
}

/** CKEDITOR STYLE */

.cke{
	margin: 20px 10px 0px 10px;
}

/** PREVIEW STYLE */

.add-new-column.preview{
	display: none;
}

.new-content-container.preview > div{
	display: none;
}

.new-content-container.preview .content-column.chosen-column.preview{
	display: block;
}

.new-content-container.preview .content-column.preview{
	border: 0;
}

.new-content-container.preview .content-column.preview > div{
	display: none;
}

.new-content-container.preview .content-column.preview .chosen-content{
	display: block;
}

/** Share Modal Style */

#share_modal{
	position: fixed;
	width: 100%;
	max-width: 800px;
	padding: 20px;
	background-color: white;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	z-index: 100;
	border-radius: 10px !important;
	box-shadow: 5px 5px 16px 2px #00000085;
}

#share_step_3{
	padding: 30px 5px;
}

#close_share_modal{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.5em;
	cursor: pointer;
	z-index: 10;
}

#share_modal > h2{
	text-align: center;
	margin-bottom: 0;
	font-weight: bold;
}

.share-tittle{
	position: relative;
	text-align: center;
	margin-bottom: 0;
	font-weight: bold;
}

.share-subtittle{
	font-size: 1.15em;
	margin-top: 0;
	text-align: center;
	color: #4d6ea7;
}

#share_modal > p{
	font-size: 1.15em;
	margin-top: 0;
	text-align: center;
	color: #4d6ea7;
}

#share_card_row{
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-between;
	align-content: center;
	margin: 35px 50px;
	text-align: -webkit-center;
	margin-top: 50px;
}

.share-card-wrapper{
	flex: auto;
}

.share-card{
	width: 200px;
	text-align: center;
	background-color: #f5f5f5bd;
	border: 1px solid #0000005c;
	border-radius: 10px !important;
	transition: 0.3s ease background;
	cursor: pointer;
}

.share-card-icon {
	width: 90%;
	height: 100%;
	padding: 35px 55px;
	fill: #4d6ea7;
	padding-bottom: 5px;
	transition: 0.3s ease fill;
}

.share-card > p {
	margin-top: 5px;
	font-size: 1.2em;
}	

.share-card:hover{
	background: #4d6ea7;
}

.share-card:hover > p{
	color: #ffffff;
}

.share-card:hover .share-card-icon{
	fill: #ffffff;
}

#share_footer_wrapper{
	display: flex;
	flex-wrap: wrap;	
	justify-content: start;	
	margin: 10px 50px;
}

#share_footer_wrapper > div{
	flex: 1;
}

#share_step_1 #share_footer_wrapper > div{
	/* text-align: left; */
	text-align: center;
}

#share_step_2{
	max-height: 100%;
	overflow: auto;
}

#share_step_2 #share_footer_wrapper > div > p:nth-of-type(1){
	text-align: left;
}

#share_footer_img_wrapper{
	display: none;
}

#share_footer_img_wrapper img{
	max-width: 400px;
	padding: 0px 30px;
	border: 1px solid #00000047;
	border-radius: 10px !important;
	margin-right: 25px;
}

#share_facebook_icon, #share_youtube_icon{
	position: absolute;
	right: 10px;
	bottom: 30px;
	font-size: 3.5em;
	color: #4d6ea7;
}

#share_youtube_icon{
	color: red;
}

#share_card_mobile{
	display: none;
}

/** 2ª Share Step */

#perfil_row{
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-between;
	align-content: center;
	margin: 0px 50px;
	text-align: -webkit-center;
	margin-top: 25px;
	margin-bottom: 0;
}

#profile_information{
	flex: 1;
	padding: 25px 0;
	padding-bottom: 15px;
}

#profile_information > .row{
	margin-top: 15px;
	text-align: left;
}

#profile_information > .row > div{
	margin: 0 20px;
	display: inline-block;
}

#select_share, #privacy{
	width: 365px;
}

#profile_information label{
	text-align: left;
}

#profile_name{
	text-align: left;
	margin: 0 5px;
}

#profile_image{
	width: 150px;
	height: 150px;
	margin: 15px 0;
	border-radius: 50% !important;
}

#terms_checkbox{
	display: inline-block;
}

#terms_text{
	display: inline-block;
	font-size: 0.8em;
    font-weight: bolder;
}

#share_buttons_wrapper{
	width: 100%;
	margin-top: 10px;
}

#share_buttons_wrapper button{
	width: 110px;
	padding: 7px;
	font-size: 1em;
	border-radius: 15px !important;
	border: 1px solid #3b7bea;
	margin: 0 15px;
}

#share_buttons_wrapper button:focus{
	outline-style: none;
}

.btn-disabled{
	cursor: not-allowed;
	opacity: 0.45;
}

#confirm_share_profile{
	background-color: #3b7bea;
	color: #ffffff;	
	margin-right: 40px;
}

#exit_share{
	background-color: #ffffff;
	color: #000000;
	margin-left: 40px;
}

.step{
	width: 15px;
	height: 15px;
	background-color: #cacaca;
	display: inline-block;
	margin: 0 5px;
	border-radius: 50% !important;
	border: 1px solid #929292;
}

.step.active{
	background-color: #4d6ea7; 
}

.step-wrapper-google .step.active{
	background-color: red; 
}

#profile_image_wrapper{
	margin-right: 30px;
}

.share-card-mobile{
	display: none;
}

#groups{
	width: 365px;
}

#pages{
	width: 365px;
}

/* 3º Share Step */

#socialnetworkList .table-responsive.table_data{
	max-width: 100%;
	max-height: 200px;
    overflow: auto;
}

.view_form #socialnetworkList > .col-sm-12{
	border: 1px solid #ababab !important;
}

.login_form{
	padding: 0;
	background: white;
}

.view_form .table_row p{
	display: none;
	background: #539996;	
	font-size: 1.25em;
}

.view_form .table_row .table-responsive{
	padding: 0;
	min-height:  75px;
}

.view_form .table_row .table-responsive .table{
	margin-bottom: 5px;
}

.view_form .table_row .table-responsive .table img.listing_image{
	height: 40px;
    width: 40px;
    border-radius: 20px !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding: 8px 25px;
}

.other_register{
	padding: 0;
}

.other_register a{
	display: block;
    padding: 25px 5px;
    background: white !important;
    font-size: 1.1em;
    line-height: 1;
    color: black;
    text-transform: none;
	margin-bottom: 25px;
	font-weight: bolder;
	border-radius: 5px !important;
	border: 1px solid #ababab;
}

.other_register i {
	width: 30px;
	margin-right: 15px;
	font-size: 2em;
	position: relative;
    top: 5px;
}

.other_register .youtube a i{
	color: red;
}

.other_register .facebook a i{
	color: #4d6ea7;
}

.other_register a:hover {
	box-shadow: 2px 2px 6px rgba(204, 204, 204, 0.44);
}

.other_register .youtube a:hover{
	background: red !important;
	color: white;
}

.other_register .youtube a:hover i{
	color: white;
}

.other_register .facebook a:hover{
	background: #4d6ea7 !important;
	color: white;
}

.other_register .facebook a:hover i{
	color: white;
}

.show-social-networks-list, .show-social-networks-form{
	position: absolute;
	top: 8px;
	color: #5daaa7;
	cursor: pointer;
	line-height: 10px;
}

.show-social-networks-list, .show-social-networks-form-right{
	right: 0;
}

.show-social-networks-form, .show-social-networks-list-left{
	left: 0;
}

.show-social-networks-list:hover, .show-social-networks-form:hover{
	color: #fcc946;
}

/* Youtube error */ 

#error_content_wrapper{
	margin-bottom: 15px;
	background-color: white;
	border-radius: 5px !important;
	margin-top: 15px;
	border: 1px solid #ababab;
}

#error_content{
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: 5px;
	margin-top: 5px;
}

#error_content::-webkit-scrollbar-track
{
	border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#error_content::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#error_content::-webkit-scrollbar-thumb
{
	border-radius: 5px;
    background-color: #D62929;
}

#error_content .table{
	text-align: left;
	display: block;
    width: 100%;
}

#error_content .table tbody, #error_content .table tr, #error_content .table td, #error_content .table img{
	display: block;
    width: 100%;
}

#error_content .table img{
	padding: 20px;
	/* border: 1px solid #ababab;
	border-radius: 5px !important; */
}

#error_content .table>tbody>tr>td, #error_content .table>tbody>tr>th, #error_content .table>tfoot>tr>td, #error_content .table>tfoot>tr>th, #error_content .table>thead>tr>td, #error_content .table>thead>tr>th{
    padding: 8px 15px;
}

#error_content .table>tbody>tr>td, #error_content .table>tbody>tr>th, #error_content .table>tfoot>tr>td, #error_content .table>tfoot>tr>th, #error_content .table>thead>tr>td, #error_content .table>thead>tr>th{
	border: 0;
}

#youtube_error_checklist{
	list-style: decimal-leading-zero;
	text-align: left;
	font-weight: bold;
	float: left;
}

#youtube_error_checklist li{
	margin: 10px 0;
	font-size: 1.15em;
}

#youtube_error_button_wrapper{
	float: right;
	margin-top: 45px;
}

#youtube_error_button_wrapper a{
	background-color: white;
    border-radius: 15px !important;
    padding: 15px;
	margin: 15px;
	color: black;
	font-weight: bolder;
	text-decoration: none;
	border: 1px solid #ababab;
}

#youtube_error_button_wrapper a:hover{
	background-color: red;
	color: white;
}

#youtube_error_footer_message{
	clear: both;
	text-align: left;
    margin-bottom: 0px;
	margin-top: -15px;
	width: 85%;
    float: left;
}

.share-step-google .share-subtittle{
	color: red;
}

.share-step-google #terms_text a{
	color: red;
}

.share-step-google #share_buttons_wrapper button{
	border-color: red;	
}

.share-step-google #confirm_share_profile{
	background-color: red;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

	.view_form .social_row .text p{
		padding: 10px;
		margin: 0;
	}

	.view_form .social_row .you_tube, .view_form .social_row .fb{
		display:block;
		text-align:center;
		min-height: 50px;
		padding: 0;
	}

	.choose_one p{
		margin-bottom:25px;
	}

	.view_form .social_row .fb a{
		text-align:center;
	}

	.fb_public .fb_border {
		float:left;
	}

	.logo_row img{
		max-width:280px;
	}

}

@media only screen and (min-device-width : 480px) and (max-device-width : 767px) {
	.fb_public .fb_border {
		float: none;
	}
}

@media (max-width: 1100px){

	.button-preview-copy{
		margin: 0;
	}

	#app_stores{
		width: 70%;
	}

	#share_text{
		margin-left: 0;
	}

	.footer-tag-img{
		width: 170px;
	}

	#footer_login_wrapper{
		margin-top: 35px;
	}


}

@media( max-width: 800px){

	/* SHARE MODAL FULL SCREEN*/
	#share_modal{
	    height: 100%;
   		border-radius: 0 !important;
	}

	#header_logo_wrapper{
		margin-top: 100px;
	}

	#header_logo_wrapper img{
		width: 40%;
	}

	.view_form .flag_row{
		margin: 0;
	}

	#flag_wrapper{
		top: 0;
		transform: translateX(50%);
		right: 50%;
		padding: 0;
	}

	.row.detail_text {
		margin-bottom: 60px;
		margin-top: 60px;
	}

	#invitation_headline_wrapper{
		position: relative;
		right: inherit;
		top: inherit;
		transform: unset;
		margin: 0 0 70px 0
	}

	#invitation_headline p {
		text-align: center;
		margin-left: 0px;
	}

	.choose_one{
		margin-bottom: 30px;
	}

	.view_form .social_row{
		padding-top: 0;
		margin-bottom: 60px;
	}

	#social_image{
		max-width: 60%;
		width: 60%;
	}

	#social_warning{
		margin-bottom: 50px;
	}

	#footer_login_wrapper{
		text-align: center;
		margin-top: -30px;
	}

	#share_text{
		margin-left: 0;
	}

	iframe{
		margin-bottom: 20px;
	}

	#icons{
		text-align: center;
		margin: 25px;
	}

	#app_stores{
		width: 80%;
	}

	.share-card{
		width: 150px;
	}

	.share-card-icon{
		padding: 25px 35px;
	}

	#share_footer_img_wrapper img{
		max-width: 280px;
	}

	#footer_wrapper{
		margin-bottom: 0px;
	}

	#footer_card{
		padding-top: 0;
	}

	#select_share, #privacy{
		width: 365px;
	}

	#profile_image_wrapper{
		margin-right: 15px;
	}

	#error_content{
		max-height: 250px;
	}
	
	#youtube_error_button_wrapper{
		float: none;
		margin-top: 55px;
	}

	#youtube_error_checklist li{
		font-size: 1em;
	}

	#youtube_error_button_wrapper a{
		margin: 1px;
	}
	
	#terms_text{
		width: 260px;
	}

}

@media( max-width: 500px){

	.content-column{
		width: 100% !important;
	}

	#flag_wrapper{
		width: 100%;
	}

	.view_form .flag_row{
		text-align: center;	
	}

	#col_social_form{
		padding: 10px;	
	}

	#convite_text_wrapper{
		padding: 25px;
	}

	.row.detail_text {
		margin-bottom: 25px;
		margin-top: 25px;
	}

	#invitation_headline_wrapper{
		position: relative;
		right: unset;
		top: unset;
		transform: none;
		margin: 0px 0 40px 0;	
	}

	#invitation_headline p {
		text-align: center;
		margin-left: 0px;
	}

	.choose_one{
		padding: 0;
	}
	
	.social_row > div{
		padding: 0px;
	}

	#social_warning{
		font-size: 0.95em;
		padding: 20px;
		line-height: 1.5;
		margin-bottom: 15px;
	}

	#social_warning p {
		margin: 0;
	}

	#social_image {
		max-width: 100%;
		width: 85%;
		margin: 0;
	}

	.form-group .row > div{
		margin-bottom: 15px;
	}

	.row.logo_row{
		padding: 0;
	}

	.you_tube{
		padding: 15px;
	}

	.logo_row hr{
		margin: 0 0 30px 0;
	}

	#share_text{
		float: none;
	}

	.button-preview-copy{
		float: none;
	}

	#footer_card, .view_form .social_row{
		padding: 0 20px 20px 20px;
	}

	#footer_login_wrapper .btn{
		margin: 0 10px;
	}

	#footer_logo{
		width: 85%;
	}

	#icons {
		margin: 25px 0;
	}

	#icons i {
		font-size: 1.6em;
	}

	iframe{
		height: 200px !important;
	}

	.knowMore_row{
		margin: 0;	
	}

	#app_stores{
		width: 100%;
	}

	.footer-tag-img{
		width: 110px;
		padding: 0;
	}

	#share_step_1 #share_footer_wrapper > div{
		text-align: center;
	}

	/* #groups, #pages{
		width: 160px;
	} */

	.share-card-mobile{
		display: block;
	}

	/* #select_share, #privacy{
		width: 220px;
	} */

	#profile_information > .row {
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
	}
	
	#profile_information label {
		text-align: center;
		margin-bottom: 10px;
	}
	
	#share_card_row{
		display: block;
		max-width: 255px;
		margin: 25px auto;
	}

	.share-card{
		width: 80px;
	}

	.share-card-icon{
		padding: 15px;
	}

	#personal_profile p{
		margin-bottom: 0px;
	}

	#share_footer_wrapper{
		margin: 10px;
	}

	#share_footer_img_wrapper img{
		margin-right: 0px;
		height: 125px;
	}

	#perfil_row{
		justify-content: center;
		margin: 0 10px;
	}

	.share-tittle{
		font-size: 1.5em;
	}

	.share-subtittle{
		margin-bottom: 0px;
		font-size: 0.95em;
	}

	#profile_information > .row > div{
		margin: 0;
		display: inline-block;
	}

	#profile_image_wrapper{
		width: 100%;
		margin-right: 0;
	}

	#profile_image{
		width: 80px;
		height: 80px;
		margin: 15px 10px;
	}

	#profile_name{
		text-align: center;
		margin: 0 5px;
	}

	#profile_information{
		padding: 0 10px;
	}

	#show_groups, #stream_title{
		margin-top: 0 !important;
	}

	#terms_text{
		width: 200px;
		margin: 0;
		vertical-align: top;
		text-align: left;
		padding-left: 20px;	
	}

	#share_buttons_wrapper{
		margin-top: 15px;
		margin-bottom: 10px;
	}

	#share_buttons_wrapper button{
		width: 90px;
		display: inline-block;
		padding: 5px;
	}

	#confirm_share_profile, #exit_share{
		margin: 0px;
	}

	#share_step_1 #share_footer_text_wrapper{
		margin: 20px 15px;
		margin-top: 0;
		max-height: 55px;
		overflow: hidden;
	}

	#share_step_2 #share_footer_text_wrapper{
		margin-bottom: 40px;
		display: block;
	}

	#share_step_2 #share_footer_wrapper > div > p:nth-of-type(1){
		text-align: center;
	}

	#share_footer_wrapper > #share_footer_text_wrapper{
		flex: auto;
	}

	#share_footer_text_wrapper p{
		margin: 0;
	}

	#share_card_mobile{
		display: block;
	}

	#share_card_mobile .share-card{
		width: 200px;
		height: 60px;
		text-align: left;
	}

	#share_card_mobile .share-card-icon{
		width: 50px;
		height: 50px;
		display: inline-block;
		padding: 0 5px;
		margin: 5px 15px;
	}

	#share_card_mobile > .share-card-wrapper{
		margin-bottom: 10px;
	}

	#share_card_mobile .share-card p{
		display: inline-block;
		margin: auto;
		vertical-align: top;
		margin-top: 20px;
	}

	#page, #group{
		display: none;
	}

	.share-card-not-mobile{
		display: none;
	}

	.share-card > p {
		font-size: 1em;
	}

	#group_mobile p{
		margin-bottom: 30px; 
	}

	.view_form .table_row p{
		font-size: 1em;
	}

	.view_form .table thead tr th{
		font-size: 12.5px;
	}

	.view_form .table td, .table th{
		font-size: 12.5px;
	}

	.view_form .login_form{
		padding: 10px 0;	
	}

	.other_register .col-sm-6.facebook, .other_register .col-sm-6.youtube{
		padding: 0;
	}

	#privacy_label_wrapper{
		display: block !important;
	}

	#error_content{
		max-height: 150px;
	}

	#youtube_error_footer_message{
		margin-top: 35px;
	}

	#error_content .table img{
		padding: 0;
	}

	.other_register a{
		margin-bottom: 10px;
	}

	#share_step_3{
		padding-top: 0px;
	}

	.other_register i{
		margin-right: 5px
	}

	/* #share_facebook_icon, #share_youtube_icon{
		position: relative;
		right: 0;
    	bottom: 0;
	} */

	#select_share, #privacy, #groups, #pages, .select_reg{
		width: 365px;
	}

	#profile_information label.select_reg{
		text-align: left;
	}

	#country_code_wrapper{
		width: 20%;
		display: inline-block;
		padding-right: 0;
	}

	#cellphone_number_wrapper{
		display: inline-block;
		width: 78.5%;
	}

	#countrycode{
		padding: 5px;
	}

}

@media (max-width: 470px){
	#select_share, #privacy, #groups, #pages, .select_reg{
		width: 330px;
	}
}

@media (max-width: 400px){
	#select_share, #privacy, #groups, #pages, .select_reg{
		width: 290px;
	}
}

@media (max-width: 360px){
	/* #share_card_row {
		margin: 10px 15px;
	} */

	#select_share, #privacy, #groups, #pages, .select_reg{
		width: 260px;
	}

	#share_buttons_wrapper button{
		margin: 0 5px;
	}

}

@media (max-width: 320px){
	#share_card_row {
		margin: 10px 5px;
	}

	.show-social-networks-list, .show-social-networks-form{
		position: relative;
	}

	#youtube_error_button_wrapper a {
		margin: 0px;
	}
}

@media( max-height: 630px){

	#share_modal{
		padding: 0;	
	}

	#profile_information{
		max-height: 240px;
		overflow-y: auto;
	}

}

@media( max-height: 570px){

	#profile_information{
		max-height: 170px;
		overflow-y: auto;
	}

}